{% extends "admin/base_site.html" %}
{% load humanize %}
<!DOCTYPE html>
<html>

{% block title %} Balance Sheet {{date_from}} -> {{date_to}} {% endblock %}

{% block extrahead %}
  <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" media="all"></link>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script type="text/javascript">
	 $(function(){

	   $(".picker").datepicker({ dateFormat: 'yy-mm-dd' });

	   $(".picker").change(function(){
	     window.location.search = "from=" + $("#from").val() +
	                          "&to=" + $("#to").val();
        });
	 });
  </script>
{% endblock %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}


{% block content %}

<h3>Change Period</h3>
<p>
From: <input class="picker" type="text" id="from" value="{{date_from|date:"Y-m-d"}}" />
To: <input class="picker" type="text" id="to" value="{{date_to|date:"Y-m-d"}}" />
</p>

<h3>Summary</h3>
  <p>
	 <table style="border-spacing: 8pt;">
		<tr>
		  <td>{{date_from}}</td>
		  <td>Starting Balance</td>
		  <td>${{start_balance|intcomma}}</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Period Income</td>
		  <td>${{income|intcomma}}</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Period Expense</td>
		  <td>${{expense|intcomma}}</td>
		</tr>
		<tr>
		  <td></td>
		  <td>Period Balance</td>
		  <td>${{period_balance|intcomma}}</td>
		</tr>
		<tr>
		  <td>{{date_to}}</td>
		  <td>End Balance</td>
		  <td>${{end_balance|intcomma}}</td
		</tr>

	 </table>
  </p>

<h3>Transactions</h3>
  <table style="border-spacing: 8pt;">
	 <tr>
		<th><a href="balance">Date</a></th>
		<th><a href="balance">Amount</a></th>
		<th><a href="balance">Description</a></th>
		<th><a href="balance">Paid Via</a></th>
	 </tr>
	 {% for item in items %}
	 <tr>
		<td>{{item.date}}</td>
		{% if item in expenses %}
		<td style="color:red;">-${{item.payment_value}}</td>
		<td>{{item.description}}</td>

		{% else %} {# is payment or donation #}
		<td>${{item.payment_value|intcomma}}</td>
		{% if item in memberpayments %}
		<td>Membership {{item.membership}} from {{item.member}}</td>
		{% else %} {# donation #}
		<td>Donation: {{item.description}}</td>
		  {% endif %}
		  {% endif %}
		<td>{{item.get_payment_type_display}}</td>
	 </tr>
	 {% endfor %}
  </table>

{% endblock %}
