{% extends "../../core/templates/_base.html" %}

{% block title %}Emergency Contact{% endblock %}
{% block heading %}Emergency Contact - {{member.fullname}}{% endblock %}

{% block content %}

<a href="{% url 'members.views.members' %}">Back to Member Roster</a>

<h2>Name</h2>
<p>
{{member.emergency_contact_name}}
</p>
<h2>Phone</h2>
<p>
{{member.emergency_contact_number}}
</p>
<h2>Medical Information</h2>
{%if member.medical_info and member.medical_info.strip %}
<p>{{member.medical_info}}</p>
{% else %}
<p>No information provided.</p>
{% endif %}

{% endblock %}
