{% extends "admin/base_site.html" %}
{% load humanize %}

{% block content %}
<h1>
MHVDB
</h1>

<p>
<a href="{%url 'members.views.signup' %}">New Member Signups</a><br/>
</p>
<p>
<a href="{%url 'admin:index' %}">Admin Interface</a> (for adding data)<br/>
<a href="{%url 'members.views.balance' %}">Balance Sheet View</a><br/>
<a href="{%url 'members.views.members' %}">Member Summary</a><br/>
<a href="{%url 'members.views.financial_report' %}">Financial Report</a><br/>
<a href="{%url 'members.views.expiring_soon' %}">Expiring Members</a><br/>
</p>

<p>Last piece of financial information (payments, expenses) is dated {{last_modified}}</p>

{% endblock %}

