{% extends "admin/base_site.html" %}

{% block content %}

{% if show_summary %}
<p>
{{count}} members of Make, Hack, Void.
</p>

<p>
{% for type,count in counts %}
{{count}} {{type}}<br>
{% endfor %}
</p>

{% endif %}

<table style="border-spacing: 8pt;">
  <tr>
	 <th><a href="{% url 'members.views.members' %}?sort=name">Full Name</a></th>
	 <th>Edit</th>
	 <th><a href="{% url 'members.views.members' %}?sort=type">Membership Type</a></th>
	 <th><a href="{% url 'members.views.members' %}?sort=expiry">Expires (Associate/Full)</a></th>
	 <th><a href="{% url 'members.views.members' %}?sort=join">Join Date</a></th>
	 <th></th>
  </tr>
  {% for member in members %}
  <tr>
	 <td>{{member.fullname}}</td>
	 <td><a href="{%url 'admin:members_member_change' member.id %}">(edit)</a></td>
	 <td>{{member.member_type}}</td>
	 <td>{{member.expiry_date}}</td>
	 <td>{{member.join_date}}</td>
	 <td><a href="{%url 'members.views.emergency_contact' member.id %}">Emergency Contact</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
