{% extends "../../core/templates/_base.html" %}

{% block title %}Members{% endblock %}
{% block heading %}Member List{% endblock %}

{% block extrahead %}
    <style>
        td i:hover {
            text-decoration: none;
        }

        td.text-right {
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}

{% if show_summary %}
<p>
{{count}} current members of Make, Hack, Void.
</p>

<table class='table table-condensed' style='width: auto'>
{% for type,count in counts %}
<tr><td class="text-right">{{count}}</td> <td>{{type}}</td></tr>
{% endfor %}
</table>

<br>

{% endif %}

{% include 'fragments/member_list.html' %}

{% endblock %}
