{% extends "../../core/templates/_base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Signup{% endblock %}
{% block heading %}Member Signup{% endblock %}

{% block content %}

<p>Fill in this form with your details to become a new member of Make, Hack, Void.</p>

<p style="font-size: 125%; font-weight: bold">Before submitting this form you must read and agree to the <a href="http://www.makehackvoid.com/community/rules">Make, Hack, Void Rules</a>.</p>

<p>If you are unsure what type of member you want to become, details can be found on the <a href="http://www.makehackvoid.com/community/membership">Membership page</a>.</p>

<form class='form-horizontal' action="{% url 'members.views.signup' %}" method="post" autocomplete="off">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    <p>By clicking submit you are asking to become a member of Make, Hack, Void, Inc. (pending payment.) You are also indicating that you have read, and agreed to abide by, the <a href="http://www.makehackvoid.com/community/rules">Rules</a>.</p>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}
