{% extends "../../core/templates/_base.html" %}

{% block title %}Thanks!{% endblock %}
{% block heading %}Signup Received{% endblock %}

{% block content %}

<h2>Thanks For Joining MHV!</h2>

<p>If you <strong>are paid up</strong>, please enjoy MHV (make sure to get a site safety induction before using any tools.)</p>

<p>If you <strong>haven't paid yet</strong>, then you need pay for your annual membership and decide which of the access options suit your use of MHV best. Have a look at <a href="http://www.makehackvoid.com/community/membership">membership</a> on the MHV website to decide.</p>

<p>Once you've worked that out, please make a bank transfer with your payment. If you are making a complicated payment, please email <a href='mailto:treasurer@makehackvoid.com'>treasurer@makehackvoid.com</a> with the details. You will receive an email when your payment has been processed.</p>

{% endblock %}
