{% extends "../../core/templates/_base.html" %}

{% block title %}Thanks!{% endblock %}
{% block heading %}Signup Received{% endblock %}

{% block content %}

<h2>Thanks For Joining MHV!</h2>

<p>If you <strong>are paid up</strong>, please enjoy MHV (make sure to get a site safety induction before using any tools.)</p>

<p>If you <strong>haven't paid yet</strong>, your next step depends on what kind of member you want to become:</p>

<ul>
<li><em>To be a casual member</em> (pay per visit), pay $1 to the full member (the person who let you in.)</li>
<li><em>To be an associate member</em>, the details <a href="http://www.makehackvoid.com/community/membership#associate">can be found here</a>. You'll need to either pay cash or make a bank transfer (bank transfers are preferred.)</li>
</ul>

<p><a href="http://www.makehackvoid.com/community/membership">Click here to find out more about the different kinds of membership.</a></p>

{% endblock %}
