{% extends "admin/base_site.html" %}

{% block title %}Signup Received{% endblock %}

{% block content %}

<h1>Thanks For Joining MHV!</h1>

<p>If you <b>are paid up</b>, please enjoy MHV (make sure to get a site safety induction before using any tools.)</p>

<p>If you <b>haven't paid yet</b>, your next step depends on what kind of member you want to become:</p>

<ul>
<li><i>To be a casual member</i> (pay per visit), pay $1 to the full member (the person who let you in.)</li>

<li><i>To be an associate member</i>, the details <a href="http://www.makehackvoid.com/community/membership#associate">can be found here</a>. You'll need to either pay cash or make a bank transfer (bank transfers are preferred.)</li>
</ul>

<p><a href="http://www.makehackvoid.com/community/membership">Click here to find out more about the different kinds of membership.</a></p>


{% endblock %}
