{% extends "../../core/templates/_base.html" %}
{% load humanize %}

{% block title %}Balance Sheet{% endblock %}
{% block heading %} Balance Sheet<small> from {{date_from|date:"N jS Y"}} to {{date_to|date:"N jS Y"}}</small> {% endblock %}

{% block extrahead %}
  <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" media="all">
  <style>
      .table td.text-right, .table th.text-right {
          text-align: right;
      }
  </style>
{% endblock %}

{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript">
	 $(function(){
       var picker = $(".picker");
	   picker.datepicker({ dateFormat: 'yy-mm-dd' });

	   picker.change(function(){
	     window.location.search = "from=" + $("#from").val() +
	                          "&to=" + $("#to").val();
        });
	 });
  </script>
{% endblock %}

{% block content %}
<div class='row'>
<div class='span4 offset2'>
<h3>Change Period</h3>
<p>
    <label for="from">From:</label> <input class="picker" type="text" id="from" value="{{date_from|date:"Y-m-d"}}" />
    <label for="to">To:</label> <input class="picker" type="text" id="to" value="{{date_to|date:"Y-m-d"}}" />
</p>
</div>

<div class='span4'>
<h3>Summary</h3>
 <table class='table-condensed' style='width: auto'>
    <tr>
      <td>{{date_from}}</td>
      <td>Starting Balance</td>
      <td class='text-right'>${{start_balance|intcomma}}</td>
    </tr>
    <tr>
      <td></td>
      <td>Period Income</td>
      <td class='text-right'>${{income|intcomma}}</td>
    </tr>
    <tr>
      <td></td>
      <td>Period Expense</td>
      <td class='text-right'>${{expense|intcomma}}</td>
    </tr>
    <tr>
      <td></td>
      <td>Period Balance</td>
      <td class='text-right'>${{period_balance|intcomma}}</td>
    </tr>
    <tr>
      <td>{{date_to}}</td>
      <td>End Balance</td>
      <td class='text-right'>${{end_balance|intcomma}}</td>
    </tr>

 </table>
</div>
</div>

<div class='row'>
<h3>Transactions</h3>
  <table class='table table-striped table-hover'>
	 <tr>
		<th class='span2'><a href="{% url 'finance.views.balance' %}">Date</a></th>
		<th class='span1 text-right'><a href="{% url 'finance.views.balance' %}">Amount</a></th>
		<th class='span6'><a href="{% url 'finance.views.balance' %}">Description</a></th>
		<th class='span2'><a href="{% url 'finance.views.balance' %}">Paid Via</a></th>
	 </tr>
	 {% for item in items %}
   <tr class='{% if item in expenses %}error{% elif item in memberpayments or item in legacymemberpayments or "Access" in item.product.name %}info{% else %}success{% endif %}'>
		<td>{{item.date}}</td>
		{% if item in expenses %}
		<td class='text-right'>-${{item.payment_value|floatformat:2|intcomma}}</td>
		<td>{{item.description}}</td>

		{% else %} {# is payment or donation #}
		<td class='text-right'>${{item.payment_value|floatformat:2|intcomma}}</td>
		{% if item in memberpayments %}
		<td>{{item.product}} from {{item.member}}</td>
		{% elif item in legacymemberpayments %}
		<td>{{item.product}} {{item.membership}} from {{item.member}}</td>
    {% elif item in expiringmemberpayments %}
    <td>{{item.product}} from {{item.member}}</td>
		{% else %} {# donation #}
		<td>Donation: {{item.description}}</td>
		  {% endif %}
		  {% endif %}
		<td>{{item.get_payment_type_display}}</td>
	 </tr>
	 {% endfor %}
  </table>
</div>
{% endblock %}
